/*CSS Reset / Normalize*/
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /*Insira a variavel das outras cores inspecionando o modelo do figma*/
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
   --cor-de-barras:#B25068;
   --cor-de-barras-com-op:rgb(178,80,104,74%);
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*Neste desafio, gostariamos que praticassem a metodologia BEM, caso seintam a vontade 
de utiliza-la. 

Mas o que é o BEM?

BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
de usuário complexa, e permite a reutilização de código existente sem copiar e colar.

Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sessão Menu*/

section.menu{
    display: flex;
    background-color: var(--cor-de-barras);
    margin: 0px 5%;
}
header{
    display: flex;
    font-size: 16px;
    align-items: center;
}
.menu_img{
    width: 26px;
    height: 26px;
}
nav{
    display: flex;
    align-items:center;
}
.menu__list{
display: flex;
margin: 0px;
width: 219PX;
}
.menu__list__item{
margin: 5%;
}

.menu__list__item__contato{
display: flex;
    align-items: center;
}
/*Sessão Title*/

section.title{
display: flex;
}
.title__profile{
border-radius: 50%;
height: 64%;
    width: 66%;
}
.title__div{
    display: flex;
    flex-direction: row-reverse;
    margin: 0px 5%;
}
.title__network{
    display: flex;
}

.title__network__item{
    margin: 0px 5% 0px 0%;
}
/*Sessão About*/

section.about{
background-color:var(--cor-de-barras-com-op);
}
.about__container{
    margin: 0px 5%;
    padding: 2% 0px 2% 0px;
    text-align: justify;
}
.frase{
    font-style: italic;
}
/*Sessão skills e Hobbies*/
section.skills{
    margin: 0px 5%;
}
.skills__title{
    text-align: center;
}

.skills__line{
    display: flex;
    justify-content: space-around;
}
section.hobbies{
    margin: 0px 5%;
}
.hobbies__title{
        text-align: center;
}
.hobbies__line{
    display: flex;
    justify-content: space-around;
}

/* Experiência Acadêmica*/

section.academic{
background-color: var(--cor-de-barras-com-op);

}
.academic__courses__img{
    background-color: var(--cor-de-fundo);
    width: min-content;
}
.academic__title{

        text-align: center;
}
.academic__courses{
    display: flex;
    margin: 0px 5%;
}
.academic__img_pdg{
height: 176px;
}
.academic__img_FICR{
    height: 86px;
}
.academic__img_alura{
    height: 175px;
    width: 288px;
}
/* experiência*/

section.experience{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0px 5%;
}
.experiencie__box{
    display: flex;
    margin: 10px 5%;
}
.experiencie__box_reverse{
    display: flex;
    flex-direction: row-reverse;
    margin: 22px 0px;
    justify-content: space-evenly;
}

.experience__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2%;
}
.experience__text{
    font-weight: normal;
    margin-top: 0px;
}
.experience__info_left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.experience__description{
    display: flex;
}
.experiencia__botao--repo{
    display: flex;
    width: 90px;
    height: 31px;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
    border: solid 1px var(--cor-de-barras);
    background-color: transparent;
    color: var(--cor-de-barras);
}
.experiencia__botao--demo{
    display: flex;
    width: 90px;
    height: 31px;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-de-barras);
    border: none;
    color: var(--cor-de-fundo);
}
#codificador{
    height: 305px;
    width: 405px;
}
#jogoOne{
    height: 253px;
}
#desafioPerfil{
    height: 300px;
    width: 441px;
}
#telaLogin{
    height: 327px;
}
#thorpage{
    height: 246px;
    width: 405px;

}
/*Contato*/

section.formcontato{
background-color: var(--cor-de-barras-com-op);
}
.formcontato__text {
    display: flex;
    flex-direction: column;
    width: 429px;
    margin-left: 1%;
}
form.formcontato__form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
}
h2.formcontato__title {
    display: flex;
    margin-left: 10px;
}
h3.formcontato__subtext {
    display: flex;
    font-weight: normal;
    font-size: 11px;
    margin: 1px 0px 2px 10px;
}
input {
    margin: 0px 0px 10px 10px;
    border: none;
    height: 15%;
}
textarea#mensagem {
    border: none;
    margin: 0px 0px 10px 10px;
}


/*footeer*/

section.footer{
   
}
.formcontato__contacto{
display: flex;
    margin: 10% 5%;
    justify-content: center;
    
}
.formcontato__img{
    height: 381px;
}
button.formcontato__botao {
    border: none;
    background-color: var(--cor-de-barras);
    color: var(--cor-de-fundo);
    width: 29%;
    height: 15%;
    margin-left: 10px;
}
/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Tablet*/
@media (min-width: 768px) {

/* Menu */
.menu__list__item {
    display: none;
}
#meucontato{
    display: flex;
    margin-left: 100%;
}
/*title*/

/*Skills*/

/*Hobbies*/

/*Experiências acadêmicas*/
.academic__img_pdg {
    height: 140px;
}
.academic__img_FICR {
    height: 68px;
    width: 276px;
}
.academic__img_alura {
    height: 136px;
    width: 183px;
}
.academic__courses__list{
    list-style: none;
    padding: 10px;
}
/*Expeirência profissional*/
.experiencie__box{
    display: flex;
    flex-direction: column;
}
#codificador {
    height: 330px;
    width: 563px;
}
#thorpage {
    height: 314px;
    width: 588px;
}
.experiencie__box_reverse{
    display: flex;
    flex-direction: column;;
}
#desafioPerfil {
    height: 437px;
    width: 612px;
}

/* contato */
.formcontato__contacto{
    margin: 2%;
    display: flex;
    justify-content: flex-start;
} 
 .formcontato__img {
    display: none;
}
input{
    width: 135%;
}
textarea{
    width: 135%;
};
}
/*Mobile*/
@media (min-width: 425px) {

/*Menu*/
.menu__list__item {
    display: none;
}
#meucontato {
    display: flex;
    margin-left: 38%;
    font-size: 10px;
}
/*Titulo*/
.title__div {
    display: flex;
    margin: 0px 5%;
    flex-direction: column;
}
.title__profile {
    border-radius: 50%;
    height: 33%;
    width: 37%;
}
/*Sessão sobre*/

/*Skills*/
.skills__line {
    display: flex;
    flex-wrap: wrap;
    flex-grid: inherit;
}
/*Hobbies*/
 .hobbies__line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/*Formação Acadêmica*/
.academic__courses {
    display: flex;
    margin: 0px 5%;
    flex-direction: column;
}

/*Experiência Profissional*/
.experiencie__box {
    display: flex;
    margin: 10px 5%;
    flex-direction: column;
}
.experiencie__box_reverse {
    display: flex;
    flex-direction: column;
    margin: 22px 0px;
    justify-content: space-evenly;
}
 /*Contato*/
 .formcontato__img {
    display: none;
}
/*Footer*/

}
